.cartitems{
   margin: auto;
   margin-top: 100px;
   margin-bottom: 100px;
   width: 80vw;
}

.cartitems hr{
   height: 3px;
   background: #e2e2e2;
   border: 0;
}
.cartitems-format-main{
   display: grid;
   grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
   align-items: center;
   gap: 75px;
   padding: 20px 0;
   color: #454545;
   font-size: 18px;
   font-weight: 600;
}
.cartitems-format{
   font-size: 17px;
   font-weight: 500;
}
.carticon-product-icon{
   height: 62px;
   width: auto;
}
.cartitems-remove-icon{
   width: 15px;
   /* margin: 0 40px; */
   height: 15px;
   cursor: pointer;
}
.cartitems-quantity{
   width: 64px;
   height: 50px;
   border: 2px solid #ebebeb;
   background: #fff;
}
.cartitems-down{
   display: flex;
   margin: 100px 0;
}
.cartitems-total{
   flex: 1;
   display: flex;
   flex-direction: column;
   margin-right: 200px;
   gap: 40px;
}
.cartitems-total-item{
   display: flex;
   justify-content: space-between;
   padding: 15px 0;
}
.cartitems-total button{
   width: 262px;
   height: 58px;
   outline: none;
   border: none;
   background: #ff5a5a;
   color: #fff;
   font-size: 16px;
   font-weight: 600;
   cursor: pointer;
}
.cartitems-promocode{
   flex: 1;
   font-size: 16px;
   font-weight: 500;
}
.cartitems-promocode p{
   color: #555;
}
.cartitems-promobox{
   width: 500px;
   margin-top: 15px;
   padding-left: 20px;
   height: 58px;
   background: #eaeaea;
}
.cartitems-promobox input{
   border: none;
   outline: none;
   background: transparent;
   font-size: 16px;
   width: 330px;
   height: 50px;
}
.cartitems-promobox button{
   width: 170px;
   height: 58px;
   font-size: 16px;
   background: black;
   color: white;
   cursor: pointer;
   padding-left: -24px;
}
.add {
    display: flex;
    gap: 20px;
}

@media(max-width: 768px) {
    .cartitems {
        margin: auto;
    }
.header {
    display: none;
}
    .cartitems-format {
        /* overflow: scroll; */
        display: flex;
        flex-direction: column;
    }

    .cartitems-down {
        flex-direction: column;
        margin: auto;
        padding: 0 5px;
        width: 90vw;
    }
    .cartitems-total {
        margin-right: 0;
    }
}